<footer class="page__footer">
  <div class="footer__wrapper">
    <div class="footer__copy">
      &copy;2020 -
      <a
        href="https://github.com/kaylacrane"
        class="footer__copy-link"
        title="Check out Kayla's GitHub 💼"
        target="_blank"
        >kayla </a
      >made this
    </div>
    <a
      href="https://github.com/kaylacrane"
      class="footer__copy-link"
      target="_blank"
    >
      <img
        class="footer__logo"
        src="./assets/images/logo-adalab.png"
        alt="Adalab logo"
        title="Learn more about Adalab 💻"
    /></a>
  </div>
</footer>
