<main class="page__main">
  <h3 class="main__title">Search for your favorite TV series</h3>
  <form action="" class="search-form">
    <label for="search"></label>
    <input
      type="text"
      id="search"
      class="searchBox js-searchBox"
      placeholder="Garfield"
    />
    <input type="submit" value="Search" class="search-button js-searchButton" />
  </form>
  <aside class="favorites-aside">
    <h3 class="favorites-title-bar js-favorites-title-bar">
      <span class="favorites-title js-favorites-title">My Purrfect List</span>
      <span class="delete-favs-icon js-delete-favs-icon">
        <i class="fas fa-trash fa-xs"></i
      ></span>
    </h3>
    <div class="favorites-list js-favorites-list"></div>
  </aside>
  <div class="js-search-results-section search-results-section"></div>
</main>
