<main class="page__main">
  <h3 class="main__title">Search for your favorite TV series</h3>
  <form action="" class="search-form">
    <label for="search"></label>
    <input
      type="text"
      id="search"
      class="searchBox js-searchBox"
      placeholder="Garfield"
    />
    <input type="submit" value="Search" class="search-button js-searchButton" />
  </form>
  <aside class="favorites-aside">
    <h3 class="favorites-title js-favorites-title">
      <i class="fas fa-paw js-favorites-title-icon"></i> My Purrfect List
      <i class="fas fa-paw js-favorites-title-icon"></i>
    </h3>
    <div class="favorites-list js-favorites-list"></div>
  </aside>
  <div class="js-search-results-section search-results-section"></div>
</main>
