<main class="page__main">
  <h2 class="main__title">Search for your favorite 📺 series</h2>
  <form action="" class="search-form">
    <label for="search"></label>
    <input
      type="text"
      id="search"
      class="searchBox js-searchBox"
      placeholder="Garfield"
    />
    <input type="submit" value="Search" class="search-button js-searchButton" />
  </form>
  <aside class="favorites-aside">
    <h3 class="favorites-title-bar js-favorites-title-bar">
      <span class="favorites-title js-favorites-title"
        >Favs List -<span class="favs-count js-favs-count">0</span></span
      >

      <span
        class="delete-favs-icon js-delete-favs-icon"
        title="Delete all favorites 🗑"
      >
        <i class="far fa-trash-alt fa-sm"></i
      ></span>
    </h3>
    <div class="favorites-list js-favorites-list"></div>
  </aside>
  <button class="js-number-results-button">Log</button>
  <div class="js-search-results-section search-results-section"></div>
</main>
