// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-white: white;
$color-primary: lightpink;
$color-grey: rgb(114, 113, 113);
$color-black: black;
$color-accents: lightseagreen;
$color-light-1: rgb(146, 219, 216);
$color-light-2: rgb(245, 217, 221);
