.favorites-aside {
  text-align: center;
  @include tablet {
  }
}
.favorites-title-bar {
  display: flex;
  justify-content: center;
  margin: auto;
  letter-spacing: 2px;
  cursor: pointer;
}
.favorites-title {
  background-color: $color-light-1;
  width: fill;
  height: 100%;
  padding: 5px 15px;
  width: fit-content;
  border-top-left-radius: 15px;
}
.delete-favs-icon {
  border-top-right-radius: 15px;
  background-color: $color-light-1;
  border-left: 5px solid $color-accents;
  padding: 6px 15px 4px;
}
.favorites-list {
  border-top: 1px solid $color-primary;
  max-height: 0;
  opacity: 0.5;
  display: flex;
  height: 178px;
  width: 100vw;
  overflow-x: scroll;
  background-color: $color-primary;
}
.js-open-favs {
  max-height: fit-content;
  opacity: 1;
  transition: all 0.8s;
}
.favorites-item {
  text-align: center;
  height: 160px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 8px;
  background-color: $color-white;
  border-radius: 10px;
  opacity: 0.7;
  transition: all 0.8s;
  &:hover {
    opacity: 1;
    box-shadow: 0 0 20px $color-grey;
    transform: scale(0.95);
  }
}
.remove-favorites {
  font-size: 10px;
  width: 100%;
  background-color: lightseagreen;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 3px;
  cursor: pointer;
}
.remove-icon {
  padding-right: 5px;
  margin: auto;
}
.favorites-image {
  height: 145px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.favorites-name {
  font-size: 12px;
  padding: 5px 2px;
  font-weight: normal;
}
