.favorites-aside {
  text-align: center;
  @include tablet {
  }
}
.favorites-title {
  display: inline-block;
  margin: auto;
  background-color: lightpink;
  letter-spacing: 2px;
  padding: 5px 55px 0;
  cursor: pointer;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.favorites-list {
  border-top: 1px solid lightpink;
  max-height: 0;
  opacity: 0.5;
  display: flex;
  height: 180px;
  width: 100vw;
  overflow-x: scroll;
  background-color: lightpink;
  justify-content: space-around;
}
.js-open-favs {
  max-height: 100%;
  opacity: 1;
  transition: all 0.8s;
}
.favorites-item {
  text-align: center;
  height: 160px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: white;
  border-radius: 10px;
}
.remove-favorites {
  font-size: 10px;
  width: 100%;
  background-color: lightseagreen;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 3px;
  cursor: pointer;
}
.remove-icon {
  padding-right: 5px;
}
.favorites-image {
  height: 145px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.favorites-name {
  font-size: 12px;
  padding: 5px 2px;
  font-weight: normal;
}
