.page__header {
  background-color: lightpink;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header__wrapper {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
.header__text-container {
  display: flex;
  flex-direction: column;
}
.header__logo {
  margin-bottom: 20px;
  width: 60px;
  height: 70px;
  display: inline-block;
  animation-name: scaleIn;
  animation-duration: 2s;
  @include tablet {
    height: 120px;
    width: 100px;
  }
}
.header__title {
  display: inline-block;
  font-family: $font-main;
  font-size: 30px;
  margin: 0;
  @include tablet {
    font-size: 40px;
  }
}
.header__slogan {
  font-style: italic;
  display: block;
  font-family: $font-secondary;
  padding-bottom: 5px;
  @include tablet {
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
  }
}

@keyframes scaleIn {
  from {
    transform: rotate(80deg) translateX(-200px);
  }
  to {
    transform: rotate(0) translateX(0);
  }
}
