.page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightpink;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header__text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__logo {
  padding: 5px;
  width: 60px;
  height: 70px;
  display: inline-block;
}
.header__title {
  display: inline-block;
  font-family: 'Baloo Da 2', cursive;
  font-size: 30px;
  margin: 0;
}
.header__slogan {
  font-style: italic;
  display: block;
}
