* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Baloo Da 2', cursive;
}
html {
  height: 100vh;
}

.page__main {
  margin-top: 125px;
  height: 100%;
}
.main__title {
  text-align: center;
}
.search-form {
  text-align: center;
  padding: 5px 0 12px;
  background-color: $color-white;
}
.search-button {
  background-color: $color-accents;
  border: none;
  padding: 2px 5px;
  border-radius: 5px;
}
.search-results-section {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  overflow-x: scroll;
  align-items: center;
  @include tablet {
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-x: hidden;
  }
}

.series-card {
  text-align: center;
  background-color: $color-white;
  border: 2px dashed $color-primary;
  height: 315px;
  width: 180px;
  margin: 10px 5px;
  border-radius: 20px;
  padding: 10px;
  transition: all 0.8s;
  @include tablet {
    height: 370px;
    width: 210px;
  }
  &:hover {
    box-shadow: 0 0 20px 5px $color-grey;
    transform: scale(0.95);
  }
}
.series-card-favs {
  color: $color-accents;
  filter: brightness(80%);
}
.js-series-favs-remove {
  color: $color-black;
}
.series-image {
  width: 100%;
  height: 100%;
}
.img-container {
  width: 160px;
  height: 225px;
  margin: auto;
  @include tablet {
    height: 280px;
    width: 180px;
  }
}
.series-title {
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}
.series-card-favs {
  cursor: pointer;
}
.js-card-favorite {
  background-color: $color-light-1;
  border: 2px dashed $color-accents;
}
