* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Baloo Da 2', cursive;
}
html {
  height: 100vh;
}
.page__main {
  position: relative;
  top: 130px;
  height: fit-content;
}
.main__title {
  text-align: center;
}
.search-form {
  text-align: center;
  padding: 5px 0;
}
.search-button {
  background-color: lightseagreen;
  border: none;
  padding: 2px 5px;
  border-radius: 5px;
}

.search-results-section {
  text-align: center;
}
.series-card {
  text-align: center;
  border: 2px dashed lightpink;
  width: 300px;
  margin: 8px auto;
  border-radius: 20px;
  padding: 10px;
}
.series-title {
}
.add-favorites {
  cursor: pointer;
}
.js-card-favorite {
  background-color: rgb(146, 219, 216);
  border: 2px dashed rgb(34, 160, 158);
}
